<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">
  <application android:label="@string/app_name" android:icon="@mipmap/app_icon" android:allowBackup="false">
    <activity android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:launchMode="singleTask" android:name="com.unity3d.player.UnityPlayerGameActivity" android:excludeFromRecents="true" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="com.oculus.intent.category.VR" />
      </intent-filter>
      <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
    </activity>
    <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
    <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only" />
    <meta-data android:name="com.oculus.handtracking.frequency" android:value="MAX" />
    <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
    <meta-data android:name="com.oculus.ossplash.background" android:value="passthrough-contextual" />
    <meta-data android:name="com.oculus.telemetry.project_guid" android:value="590db11b-64aa-4940-ba9d-456f5566c686" />
    <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|questpro" tools:replace="android:value" />
  </application>
  <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />
  <uses-feature android:name="oculus.software.handtracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
  <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API" />
  <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false" />
  <uses-feature android:name="com.oculus.feature.RENDER_MODEL" />
  <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />
  <uses-feature android:name="oculus.software.trackedkeyboard" android:required="false" />
  <uses-permission android:name="com.oculus.permission.TRACKED_KEYBOARD" />
  <uses-feature android:name="com.oculus.software.body_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.BODY_TRACKING" />
  <uses-feature android:name="oculus.software.face_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.FACE_TRACKING" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-feature android:name="oculus.software.eye_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.EYE_TRACKING" />
  <uses-feature android:name="com.oculus.feature.VIRTUAL_KEYBOARD" android:required="false" />
  <uses-permission android:name="com.oculus.permission.USE_SCENE" />
  <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
  <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM" />
  <queries>
    <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
    <intent>
      <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
    </intent>
    <intent>
      <action android:name="org.khronos.openxr.OpenXRApiLayerService" />
    </intent>
  </queries>
</manifest>